rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que o usuário autenticado acesse e gerencie apenas seus próprios dados e filmes assistidos
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /watched_movies/{movieId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
